# LangSmith Configuration
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="<your-api-key>"
LANGSMITH_PROJECT="eddo-plc-apps"

# OpenAI Configuration
OPENAI_API_KEY="<your-openai-api-key>"
OPENAI_MODEL="gpt-4o"

# Azure OpenAI Configuration (optional)
AZURE_OPENAI_API_KEY="<your-azure-openai-api-key>"
AZURE_OPENAI_ENDPOINT="https://<your-resource-name>.openai.azure.com"
AZURE_OPENAI_DEPLOYMENT="<your-deployment-name>"
OPENAI_API_VERSION="2024-10-21"

# Authentication Configuration
[auth]
redirect_uri = "http://localhost:8501/oauth2callback"
cookie_secret = "xxx"
client_id = "xxx"
client_secret = "xxx"
server_metadata_url = "https://accounts.google.com/.well-known/openid-configuration"
client_kwargs = { "prompt" = "login" }
